[submodule "senzing-api-server"]
	path = senzing-api-server
	url = https://github.com/senzing-garage/senzing-api-server.git
[submodule "data-mart-replicator"]
	path = data-mart-replicator
	url = https://github.com/senzing-garage/data-mart-replicator.git
